body{
    text-align: center;
}

header{
    text-align: left;
    color: rgb(74, 74, 74);
}
.cont1 {
    width: 250px;
    height: 100px;
    margin: 0 auto;
    border: 1px solid black;
}
/*.input{
    width: 50px;
}*/